<VirtualHost *:80>

	# Available URL(s)
	ServerName transporthack.cyclestreets.net
	
	# Logging
	CustomLog /var/log/apache2/transporthack-access.log combined
	ErrorLog /var/log/apache2/transporthack-error.log

	# Where the files are
	DocumentRoot /var/www/transporthack/public_html/
	
	# Allow access
	<Directory />
		Require all granted
	</Directory>

	# Allow redirects in .htaccess
	<Directory />
		AllowOverride FileInfo
	</Directory>
	
</VirtualHost>

